<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        @media (max-width: 992px) {
        .w3-main {
            margin-top: 44px !important;
        }
        }
    </style>
    <title>Delete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="w3-light-grey">

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:80px;">

    <!-- Content -->
    <div class="w3-container" style="padding-top:22px">
        <h5>Input</h5>
        <form action="delete" method="get">
            <label>Aktenzeichen
                <input type="text" name="aktenzeichen"></input>
            </label>
            <input type="submit" value="Löschen!"></input>
        </form>
        <div th:if="${message != null }">
            <p th:text="${message}" />
        </div>
        <div th:if="${messages != null }">
            <ul>
                <li th:each="msg : ${messages}" th:text="${msg}"></li>
            </ul>
        </div>
    </div>

    <hr></hr>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
</body>
</html>