<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        @media (max-width: 992px) {
        .w3-main {
            margin-top: 44px !important;
        }
        }
    </style>
    <style>
    #links polyline {
      stroke: #999;
      stroke-opacity: 0.6;
      marker-mid: url(#arrow);
    }

    svg path {
        stroke: #999;
        stroke-opacity: 1;
        stroke-linejoin: round;
        fill:none;
    }

    #nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

     .circle {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    </style>
    <title>Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="w3-light-grey">

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:80px;">

    <!-- Content -->
    <div class="w3-container" style="padding-top:22px">
        <h5>Input</h5>

        <form action="graph" method="get">
            <label>Aktenzeichen
                <input type="text" name="aktenzeichen" th:value="${aktenzeichen}"></input>
            </label>
            <label>Datum
                <input type="date" name="datum" th:value="${datum}" min="2015-01-01" max="2018-01-01"></input>
            </label>
            <label>Typ:
                <select name="typ" size="1">
                    <option value="">Alle Typen</option>
                    <option th:if="${typ.equals('urteil')}" selected="selected" value="urteil">Urteil</option>
                    <option th:if="${!typ.equals('urteil')}" value="urteil">Urteil</option>
                    <option th:if="${typ.equals('beschluss')}" selected="selected" value="beschluss">Beschluss</option>
                    <option th:if="${!typ.equals('beschluss')}" value="beschluss">Beschluss</option>
                    <option th:if="${typ.equals('verweis')}" selected="selected" value="verweis">Verweis</option>
                    <option th:if="${!typ.equals('verweis')}" value="verweis">Verweis</option>
                    <option th:if="${typ.equals('norm')}" selected="selected" value="norm">Norm</option>
                    <option th:if="${!typ.equals('norm')}" value="norm">Norm</option>
                </select>
            </label>
            <label>Zitierung:
                <select name="zitat" size="1">
                    <option th:if="${zitat.equals('active')}" selected="selected" value="active">Aktiv</option>
                    <option th:if="${!zitat.equals('active')}" value="active">Aktiv</option>
                    <option th:if="${zitat.equals('passiv')}" selected="selected" value="passiv">Passiv</option>
                    <option th:if="${!zitat.equals('passiv')}" value="passiv">Passiv</option>
                    <option th:if="${zitat.equals('actpas')}" selected="selected" value="actpas">Aktiv &amp; Passiv</option>
                    <option th:if="${!zitat.equals('actpas')}" value="actpas">Aktiv &amp; Passiv</option>
                </select>
            </label>
            <input type="submit" value="Suchen!"></input>
        </form>

    </div>

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-twothird">
                <h5 th:text="'Graph - '+${message}"></h5>
                <div th:if="${fehler} != null">
                    <p th:text="${fehler}"></p>
                </div>
                <div th:if="${fehler} == null">
                    <div class="chart-container">
                        <svg width="1030" height="600" >
                            <marker id="arrow" markerWidth="10" markerHeight="10" refX="2" refY="2" orient="auto" markerUnits="strokeWidth">
                                <path d="M0,0 L4,2 0,4"></path>
                            </marker>
                            <rect id="background" width="100%" height="100%" fill="white" pointer-events="all" />
                            <g id="root">
                                <g id="links"></g>
                                <g id="nodes"></g>
                            </g>
                        </svg>
                    </div>
                    <div id="menu">
                        <button onclick="force.stop(); zoomFit(0.95, 500)">Fit</button>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <h5>Statistics</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr th:each="stat : ${statistik}">
                        <td th:text="${stat}"></td>
                    </tr>
                </table>

                <br/>

                <h5>Legende</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td><div class="circle" style="background: #0174DF;"></div></td>
                        <td>Urteil</td>
                    </tr>
                    <tr>
                        <td><div class="circle" style="background: #04B404;"></div></td>
                        <td>Beschluss</td>
                    </tr>
                    <tr>
                        <td><div class="circle" style="background: #DF7401;"></div></td>
                        <td>Verweis</td>
                    </tr>
                    <tr>
                        <td><div class="circle" style="background: #FFBF00;"></div></td>
                        <td>Norm</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr></hr>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var zoom = d3.behavior
        .zoom()
        .scaleExtent([1/4, 4])
        .on('zoom.zoom', function () {
            console.trace("zoom", d3.event.translate, d3.event.scale);
            root.attr('transform',
                'translate(' + d3.event.translate + ')'
                +   'scale(' + d3.event.scale     + ')');
        })
    ;

    var $container = $('.chart-container'),
        width = $container.width(),
        height = $container.height();

    var svg = d3.select('svg')
        .attr("width", '100%')
        .attr("height", '100%')
        .attr('viewBox','0 0 '+Math.min(width,height) +' '+Math.min(width,height) * 9/16 )
        .attr('preserveAspectRatio','xMinYMin');

    svg.call(zoom);

    var root = svg.select('#root');
    var node_group = svg.select('#nodes');
    var link_group = svg.select('#links');

    /*var color = d3.scaleOrdinal(d3.schemeCategory20);*/

    var color = d3.scaleLinear()
        .domain([0, 1, 2, 3, 4])
        .range(["white", "#0174DF", "#04B404", "#DF7401", "#FFBF00"]);

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

    var dateiname = [[${filename}]]
    d3.json("graphen/"+dateiname, function(error, graph) {
      if (error) throw error;

      var link = link_group
        .selectAll("polyline")
        .data(graph.links)
        .enter().append("polyline")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

      var node = node_group
        .selectAll("circle")
        .data(graph.nodes)
        .enter().append("circle")
          .attr("r", function(d) { return d.size; })
          .attr("fill", function(d) { return color(d.group); })
          .attr("onclick", function(d) { return "testfunction(\""+d.id+"\")"; })
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

      node.append("title")
          .text(function(d) { return d.id; });

      simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

      simulation.force("link")
          .links(graph.links);

      function ticked() {
        link
            .attr("points", function(d) {
                var x1 = d.source.x;
                var y1 = d.source.y;
                var x3 = d.target.x;
                var y3 = d.target.y;
                var x2 = x1 + 0.5 * (x3 - x1);
                var y2 = y1 + 0.5 * (y3 - y1);
                return x1+","+y1+" "+x2+","+y2+" "+x3+","+y3;
            });

        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      }
    });

    function dragstarted(d) {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    function dragged(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    }

    function dragended(d) {
      if (!d3.event.active) simulation.alphaTarget(0);
      d.fx = null;
      d.fy = null;
    }

    function testfunction(id) {
        window.location.href = "detail?id="+id;
    }

    var force = d3.layout
		.force();

    function lapsedZoomFit(ticks, transitionDuration) {
        for (var i = ticks || 200; i > 0; --i) force.tick();
        force.stop();
        zoomFit(undefined, transitionDuration);
    }

    function zoomFit(paddingPercent, transitionDuration) {
        var bounds = root.node().getBBox();
        var parent = root.node().parentElement;
        var fullWidth = parent.clientWidth,
            fullHeight = parent.clientHeight;
        var width = bounds.width,
            height = bounds.height;
        var midX = bounds.x + width / 2,
            midY = bounds.y + height / 2;
        if (width == 0 || height == 0) return; // nothing to fit
        scale = min( dst.width/src.width, dst.height/src.height)
        var scale = (paddingPercent || 0.75) / Math.max(width / fullWidth, height / fullHeight);
        var translate = [fullWidth / 2 - scale * midX, fullHeight / 2 - scale * midY];

        console.log(fullWidth);
        console.log(fullHeight);
        console.log(width);
        console.log(height);
        console.trace("zoomFit", translate, scale);
        root
            .transition()
            .duration(transitionDuration || 0) // milliseconds
            .call(zoom.translate(translate).scale(scale).event);
    }

    /*]]>*/
</script>
</body>
</html>