<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <title>Upload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="w3-light-grey">

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:78px;">

    <!-- Content -->
    <div class="w3-container" style="padding-top:22px">
        <h5>Input</h5>
        <form method="post" action="upload" enctype="multipart/form-data">
            <label>Wählen Sie eine PDF-Datei (*.pdf) von Ihrem Rechner aus.
                <input name="file" type="file" accept="application/pdf/*"></input>
            </label>
            <button>Hochladen</button>
            <div th:if="${message != null }">
                <p th:text="${message}" />
            </div>
        </form>
    </div>

    <div class="w3-container w3-section">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div th:if="${filename != null }" class="w3-twothird">
                <h5>Graph</h5>
                <div>
                    <a th:href="'/graph?filename=' + ${filename}">Show Graph</a>
                </div>
            </div>
            <div class="w3-third">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- End page content -->
</div>
</body>
</html>